NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://localhost:27017/aperto
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=sPlkwaZ3yKJ5zTso1MdHjKTTkShNCQJo
JWT_REFRESH_SECRET=apWcXDgkaQ9Fr05B9Za3GzSnSLIoGKTf